##Fill these out with your secret values before running the Terraform script.
# These values are sensitive and should not be shared publicly.
# Remove the ".example" from this file name. It should be "variable.auto.tfvars"

prefix             = "<prefix>"
location           = "<azure_region>"
adb_account_id     = "<databricks_account_id>"
subscription_id    = "<azure_subscription_id>"
metastore_owner    = "<user_or_group_or_sp>" # You can change later on the metastore
tags = {
    keys   = "<value>"
    key = "<value>"
  }